{% extends 'base.html' %}
{% block body %}
<div class="container">
  
  <h1 class="text-center my-5" id="songmyung">{{actor.name}}의 필모그래피</h1>
  <div class="row">
    {% for movie in actor.filmography.all %}
      <div class="card col-3 my-1" style="width: 18rem; border: none;">
        <a href="{% url 'movie_review:movie_detail' movie.id %}" class="text-dark">
          {% if movie in user.like_movies.all %}
          <div>
            <img src="{{movie.img_url}}" class="card-img-top m-2" alt="..." style="background-color:aqua;">
          </div>
          {% else %}
          <div>
            <img src="{{movie.img_url}}" class="card-img-top m-2" alt="...">
          </div>
          {% endif %}
          <div class="card-body">
            <h5 class="card-title text-center" id="noto">{{movie.title}}</h5>
          </div>
        </a>    
      </div>
      
    {% endfor %}
  </div>
</div>
{% endblock %}