{% extends 'base.html' %}
{% load bootstrap4 %}
{% block body %}
  <div class="jumbotron">
    <div class="row">
      <div class="d-inline-flex align-items-start">
        <div class="d-inline-flex mx-3">
          <img src="{{movie.img_url}}" alt="" style="width: 26rem;">
          <div class="d-block mx-3">
            <h1 class="display-4">{{movie.title}}</h1>
            <h2>gg</h2>
            <a href="{% url 'movie_review:like' movie.id %}" class="btn btn-primary"> 좋아요 </a>
          </div>        
        </div>
      </div>
      <div class="mx-3">
        
        <h3 class="my-3"> 줄거리 </h3>
        <p>{{movie.description}}</p>
        <hr>
        <h4>출연 배우</h4>
        <div class="row">
          {% for actor in movie.actors.all %}
            <div class="card col-3" style="width: 10rem;">
              <a href="{% url 'movie_review:actor_detail' actor.id %}">
                <div class="card-body text-dark">
                  <div class="text-center">
                    <img class="rounded-circle text-center" src="{{actor.img_url}}" alt="" width:75 height: 75>

                  </div>
                  <h3 class="text-center">{{actor.name}}</h3>
                </div>
              </a>
            </div>
          {% endfor %}
          
        </div>
      </div>
    </div>
    <hr>
    <div>
      <form action="{% url 'movie_review:create_review' movie.id %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="작성" class="btn btn-primary">
      </form>
    </div>
    {% for review in movie.review_set.all %}
      <div class="d-flex justify-content-between">
        <span>{{review.content}}</span>
        <span>작성자 : {{review.user}}</span>
      </div>
    {% endfor %}
    
  </div>
{% endblock %}